Código - Fonte/IAPCSharpSample/TutorialSomador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Somador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numero2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SomadorResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SomadorSoapIn">
    <wsdl:part name="parameters" element="tns:Somador" />
  </wsdl:message>
  <wsdl:message name="SomadorSoapOut">
    <wsdl:part name="parameters" element="tns:SomadorResponse" />
  </wsdl:message>
  <wsdl:portType name="TutorialSomadorSoap">
    <wsdl:operation name="Somador">
      <wsdl:input message="tns:SomadorSoapIn" />
      <wsdl:output message="tns:SomadorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TutorialSomadorSoap" type="tns:TutorialSomadorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
	<wsa:UsingAddressing wsdl:required="true"/>
    <wsdl:operation name="Somador">
      <soap:operation soapAction="http://tempuri.org/Somador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TutorialSomadorSoap12" type="tns:TutorialSomadorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Somador">
      <soap12:operation soapAction="http://tempuri.org/Somador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TutorialSomador">
    <wsdl:port name="TutorialSomadorSoap" binding="tns:TutorialSomadorSoap">
      <soap:address location="http://localhost/TutorialSomador/" />
    </wsdl:port>
    <wsdl:port name="TutorialSomadorSoap12" binding="tns:TutorialSomadorSoap12">
      <soap12:address location="http://localhost/TutorialSomador/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>